<div class="p-d-flex p-jc-center">
  <p-card [style]="{ width: '600px' }" class="p-shadow-12">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <div style="text-align: center; margin-bottom: 30px">
      <h1><u>{{ nuevoJuego.nombre }}</u></h1>
    </div>
    <h2></h2>
    <form name="juego">
      <h2>
        <button *ngIf="nuevoJuego.numeroSecreto == 0" (click)="generarnumero()" class="btn btn-info btn-lg">
          Generar número secreto
        </button>
      </h2>

      <div class="p-d-flex p-jc-around">
        <label style="padding-top: 13px">Ingrese número: </label>

        <input
          [(ngModel)]="nuevoJuego.numeroIngresado"
          placeholder="Ingrese un número"
          name="numeroIngresado"
          type="text"
          class="form-control"
          style="width: 50%"
        />
      </div>
      <div class="p-d-flex p-jc-center">
        <h1>{{ nuevoJuego.numeroIngresado }}</h1>
      </div>

      <h2 [hidden]="ocultarVerificar">
        <button *ngIf="nuevoJuego.numeroSecreto != 0" (click)="verificar()" class="btn btn-success btn-lg">
          Verificar
        </button>
      </h2>

      <div class="p-d-flex p-jc-center">
        <h2 style="text-align: center;">
          <p *ngIf="nuevoJuego.numeroSecreto != 0">
            <i class="fa fa-spinner fa-spin"></i>Esperando que ingrese un número
          </p>
        </h2>
      </div>

      <h3 [hidden]="!nuevoJuego.gano" style="text-align: center;">usted adivino el número</h3>
      <h3 [hidden]="nuevoJuego.gano" style="text-align: center;">usted aún no gano</h3>
    </form>
    <div id="snackbar">{{ Mensajes }}</div>
  </p-card>
</div>
