<div class="p-d-flex p-jc-center">
  <p-card [style]="{'width': '600px'}" class="p-shadow-12">
    <div class="content">
      <div>
        <h4>Primer número:</h4>
        <!-- <input
        [(ngModel)]="nuevoJuego.primerNumero"
        placeholder="?"
        name="primerNumero"
        type="text"
        class="form-control"
        style="width: 50%"
        readonly
      /> -->

        <span class="p-badge p-badge-xl p-badge-sucess">{{ nuevoJuego.primerNumero }}</span>
      </div>
      <div>
        <h4>Operador:</h4>
        <!-- <input
        [(ngModel)]="nuevoJuego.operador"
        placeholder="?"
        name="operador"
        type="text"
        class="form-control"
        style="width: 50%"
        readonly
      /> -->

        <span class="p-badge p-badge-xl p-badge-info">{{ nuevoJuego.operador }}</span>
      </div>
      <div>
        <h4>Segundo número:</h4>
        <!-- <input
        [(ngModel)]="nuevoJuego.segundoNumero"
        placeholder="?"
        name="segundoNumero"
        type="text"
        class="form-control"
        style="width: 50%"
        readonly
      /> -->

        <span class="p-badge p-badge-xl p-badge-sucess">{{ nuevoJuego.segundoNumero }}</span>
      </div>
    </div>
    <div class="content2" style="margin-top: 20px">
      Respuesta:
      <input
        [(ngModel)]="nuevoJuego.numeroIngresado"
        placeholder="ingrese numero"
        name="resultadoOperacion"
        type="text"
        class="form-control"
        style="width: 50%"
      />

      <h2 [hidden]="ocultarVerificar" style="margin-top: 20px">
        <button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{ Tiempo }}</button>
      </h2>

      <h2 [hidden]="!ocultarVerificar" style="margin-top: 20px">
        <button (click)="NuevoJuego()" class="btn btn-info btn-lg">Nuevo</button>
      </h2>

      <h3 [hidden]="!nuevoJuego.gano">
        <strong style="background: green">¡GANÓ!</strong>
      </h3>
      <h3 [hidden]="nuevoJuego.gano || Tiempo != 0">
        <strong style="background: red">PERDIÓ</strong>
      </h3>
      <h3 [hidden]="Tiempo == -1 || Tiempo == 0"><i class="fa fa-spinner fa-spin"></i>Esperando numero...</h3>
    </div>
  </p-card>
</div>
